NET "clk" LOC = "E12" | IOSTANDARD = LVCMOS33; #50MHz
NET "rst" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN; #BTN SOUTH

NET "err" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8; #LED0

NET "dnepr_tr_start"	LOC = "B4"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:6
NET "dnepr_tr_stop"		LOC = "A4"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:5
NET "dnepr_rc_start"	LOC = "A5"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:10
NET "dnepr_rc_stop"		LOC = "B6"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:9
NET "voronej_fu1"		LOC = "A6"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:14
NET "voronej_fu2"		LOC = "A7"	| IOSTANDARD = LVTTL | PULLDOWN; # J2:13