### Ú‡ÍÚÓ‚˚È ÒË„Ì‡Î 10Ã„ˆ 
##NET "CLK_40M" LOC = AE14 | IOSTANDARD = LVTTL;


### LEDs
##NET "FPRGA_DONE_VH1" LOC = AC24 | IOSTANDARD = LVTTL;
NET "REDGREEN_D1_OK" LOC = AB13 | IOSTANDARD = LVTTL;
NET "REDGREEN_D2_PT" LOC = AB12 | IOSTANDARD = LVTTL;
#NET "REDGREEN_D3" LOC = AC19 | IOSTANDARD = LVTTL;

NET "pmc_ok" LOC = "B3" | IOSTANDARD = LVTTL;
NET "pmc_pt" LOC = "A3" | IOSTANDARD = LVTTL;

### XW In
#NET "XW1" LOC = AF14 | IOSTANDARD = LVTTL;
NET "XW2" LOC = AD13 | IOSTANDARD = LVTTL;
#NET "XW3" LOC = AE13 | IOSTANDARD = LVTTL;

### XW out
#NET "XW4" LOC = AE21 | IOSTANDARD = LVTTL;
#NET "XW5" LOC = Y19 | IOSTANDARD = LVTTL;
#NET "XW6" LOC = AC21 | IOSTANDARD = LVTTL;
#NET "XW7" LOC = AE23 | IOSTANDARD = LVTTL;
#NET "XW8" LOC = AF23 | IOSTANDARD = LVTTL;

### X1 & X2
#NET "RX1" LOC = AD2 | IOSTANDARD = LVCMOS33;
#NET "RX2" LOC = AA3 | IOSTANDARD = LVCMOS33;
#NET "RX3" LOC = U7 | IOSTANDARD = LVCMOS33;
#NET "RX4" LOC = AB3 | IOSTANDARD = LVCMOS33;
#NET "RX5" LOC = W6 | IOSTANDARD = LVCMOS33;
#NET "RX6" LOC = AB2 | IOSTANDARD = LVCMOS33;
#NET "RX7" LOC = V4 | IOSTANDARD = LVCMOS33;
#NET "RX8" LOC = P4 | IOSTANDARD = LVCMOS33;
#NET "TX1" LOC = R5 | IOSTANDARD = LVCMOS33;
#NET "TX2" LOC = W5 | IOSTANDARD = LVCMOS33;
#NET "TX3" LOC = R8 | IOSTANDARD = LVCMOS33;
#NET "TX4" LOC = T8 | IOSTANDARD = LVCMOS33;
#NET "TX5" LOC = T6 | IOSTANDARD = LVCMOS33;
#NET "TX6" LOC = R3 | IOSTANDARD = LVCMOS33;
#NET "TX7" LOC = W2 | IOSTANDARD = LVCMOS33;
#NET "TX8" LOC = V2 | IOSTANDARD = LVCMOS33;
#NET "DTR1" LOC = T5 | IOSTANDARD = LVCMOS33;
#NET "DTR2" LOC = V5 | IOSTANDARD = LVCMOS33;
#NET "DTR3" LOC = P7 | IOSTANDARD = LVCMOS33;
#NET "DTR4" LOC = Y4 | IOSTANDARD = LVCMOS33;
#NET "DTR5" LOC = P6 | IOSTANDARD = LVCMOS33;
#NET "DTR6" LOC = AD1 | IOSTANDARD = LVCMOS33;
#NET "DTR7" LOC = Y6 | IOSTANDARD = LVCMOS33;
#NET "DTR8" LOC = P2 | IOSTANDARD = LVCMOS33;
#NET "DSR1" LOC = R7 | IOSTANDARD = LVCMOS33;
#NET "DSR2" LOC = AA1 | IOSTANDARD = LVCMOS33;
#NET "DSR3" LOC = Y5 | IOSTANDARD = LVCMOS33;
#NET "DSR4" LOC = AC2 | IOSTANDARD = LVCMOS33;
#NET "DSR5" LOC = V6 | IOSTANDARD = LVCMOS33;
#NET "DSR6" LOC = AC1 | IOSTANDARD = LVCMOS33;
#NET "DSR7" LOC = U4 | IOSTANDARD = LVCMOS33;
#NET "DSR8" LOC = P3 | IOSTANDARD = LVCMOS33;
#NET "RTS1" LOC = U5 | IOSTANDARD = LVCMOS33;
#NET "RTS2" LOC = T7 | IOSTANDARD = LVCMOS33;
#NET "RTS3" LOC = P8 | IOSTANDARD = LVCMOS33;
#NET "RTS4" LOC = AB4 | IOSTANDARD = LVCMOS33;
#NET "RTS5" LOC = R6 | IOSTANDARD = LVCMOS33;
#NET "RTS6" LOC = T4 | IOSTANDARD = LVCMOS33;
#NET "RTS7" LOC = AA4 | IOSTANDARD = LVCMOS33;
#NET "RTS8" LOC = U3 | IOSTANDARD = LVCMOS33;
#NET "CTS1" LOC = P5 | IOSTANDARD = LVCMOS33;
#NET "CTS2" LOC = AA2 | IOSTANDARD = LVCMOS33;
#NET "CTS3" LOC = V7 | IOSTANDARD = LVCMOS33;
#NET "CTS4" LOC = W7 | IOSTANDARD = LVCMOS33;
#NET "CTS5" LOC = U6 | IOSTANDARD = LVCMOS33;
#NET "CTS6" LOC = AB1 | IOSTANDARD = LVCMOS33;
#NET "CTS7" LOC = Y2 | IOSTANDARD = LVCMOS33;
#NET "CTS8" LOC = P1 | IOSTANDARD = LVCMOS33;

## X3

#NET "IND(0)" LOC = AD25 | IOSTANDARD = LVTTL;
#NET "IND(1)" LOC = AA21 | IOSTANDARD = LVTTL;
#NET "IND(2)" LOC = U26 | IOSTANDARD = LVTTL;
#NET "IND(3)" LOC = AA22 | IOSTANDARD = LVTTL;
#NET "IND(4)" LOC = T25 | IOSTANDARD = LVTTL;
#NET "IND(5)" LOC = H20 | IOSTANDARD = LVTTL;
#NET "IND(6)" LOC = W21 | IOSTANDARD = LVTTL;
#NET "IND(7)" LOC = AE24 | IOSTANDARD = LVTTL;
#
#NET "CODF(0)" LOC = AF12 | IOSTANDARD = LVTTL;
#NET "CODF(1)" LOC = AE7 | IOSTANDARD = LVTTL;
#NET "CODF(2)" LOC = AF7 | IOSTANDARD = LVTTL;
#NET "CODF(3)" LOC = AE5 | IOSTANDARD = LVTTL;
#NET "CODF(4)" LOC = AE4 | IOSTANDARD = LVTTL;
#NET "CODF(5)" LOC = AF4 | IOSTANDARD = LVTTL;
#NET "CODF(6)" LOC = AF5 | IOSTANDARD = LVTTL;
#
#NET "INF(0)" LOC = AB19 | IOSTANDARD = LVTTL;
#NET "INF(1)" LOC = AA26 | IOSTANDARD = LVTTL;
#NET "INF(2)" LOC = AA25 | IOSTANDARD = LVTTL;
#NET "INF(3)" LOC = AB26 | IOSTANDARD = LVTTL;
#
#NET "ZKI" LOC = Y25 | IOSTANDARD = LVTTL;
#NET "MS_9_6" LOC = AF24 | IOSTANDARD = LVTTL;
#NET "S_195_3" LOC = AD22 | IOSTANDARD = LVTTL;

## X4

#NET "O_195_3(0)" LOC = V25 | IOSTANDARD = LVTTL;
#NET "O_195_3(1)" LOC = AB24 | IOSTANDARD = LVTTL;
#NET "O_195_3(2)" LOC = AA24 | IOSTANDARD = LVTTL;
#NET "O_195_3(3)" LOC = W25 | IOSTANDARD = LVTTL;
#NET "O_195_3(4)" LOC = AC25 | IOSTANDARD = LVTTL;
#
#NET "O_0_76(0)" LOC = U25 | IOSTANDARD = LVTTL;
#NET "O_0_76(1)" LOC = T26 | IOSTANDARD = LVTTL;
#NET "O_0_76(2)" LOC = W26 | IOSTANDARD = LVTTL;
#NET "O_0_76(3)" LOC = Y26 | IOSTANDARD = LVTTL;
#NET "O_0_76(4)" LOC = P21 | IOSTANDARD = LVTTL;
#
#NET "FX_4(0)" LOC = Y17 | IOSTANDARD = LVTTL;
#NET "FX_4(1)" LOC = AB15 | IOSTANDARD = LVTTL;
#NET "FX_4(2)" LOC = Y18 | IOSTANDARD = LVTTL;
#NET "FX_4(3)" LOC = Y16 | IOSTANDARD = LVTTL;
#NET "FX_4(4)" LOC = AB14 | IOSTANDARD = LVTTL;
#NET "FX_4(5)" LOC = AA16 | IOSTANDARD = LVTTL;
#
#NET FX_4(0)			PULLUP;
#NET FX_4(1)			PULLUP;
#NET FX_4(2)			PULLUP;
#NET FX_4(3)			PULLUP;
#NET FX_4(4)			PULLUP;
#NET FX_4(5)			PULLUP;

## X5

#NET "PLSF(0)" LOC = AA11 | IOSTANDARD = LVTTL;
#NET "PLSF(1)" LOC = AF11 | IOSTANDARD = LVTTL;
#NET "PLSF(2)" LOC = AE9 | IOSTANDARD = LVTTL;
#NET "PLSF(3)" LOC = AE10 | IOSTANDARD = LVTTL;
#NET "PLSF(4)" LOC = AC10 | IOSTANDARD = LVTTL;
#NET "PLSF(5)" LOC = AE11 | IOSTANDARD = LVTTL;
#NET "PLSF(6)" LOC = AF10 | IOSTANDARD = LVTTL;
#NET "PLSF(7)" LOC = AB10 | IOSTANDARD = LVTTL;
#
#NET "PLS(0)" LOC = AA17 | IOSTANDARD = LVTTL;
#NET "PLS(1)" LOC = AD19 | IOSTANDARD = LVTTL;
#NET "PLS(2)" LOC = AD18 | IOSTANDARD = LVTTL;
#NET "PLS(3)" LOC = AC16 | IOSTANDARD = LVTTL;
#NET "PLS(4)" LOC = AB25 | IOSTANDARD = LVTTL;
#NET "PLS(5)" LOC = AC26 | IOSTANDARD = LVTTL;
#NET "PLS(6)" LOC = AD15 | IOSTANDARD = LVTTL;
#NET "PLS(7)" LOC = AD14 | IOSTANDARD = LVTTL;
#
#NET PLSF(0)			PULLUP;
#NET PLSF(1)			PULLUP;
#NET PLSF(2)			PULLUP;
#NET PLSF(3)			PULLUP;
#NET PLSF(4)			PULLUP;
#NET PLSF(5)			PULLUP;
#NET PLSF(6)			PULLUP;
#NET PLSF(7)			PULLUP;

## X6

#NET "TI_1_F(0)" LOC = AD9 | IOSTANDARD = LVTTL;
#NET "TI_1_F(1)" LOC = AC7 | IOSTANDARD = LVTTL;
#NET "TI_1_F(2)" LOC = AB8 | IOSTANDARD = LVTTL;
#NET "TI_1_F(3)" LOC = Y9 | IOSTANDARD = LVTTL;
#NET "TI_1_F(4)" LOC = Y8 | IOSTANDARD = LVTTL;
#NET "TI_1_F(5)" LOC = Y10 | IOSTANDARD = LVTTL;
#NET "TI_1_F(6)" LOC = AA7 | IOSTANDARD = LVTTL;
#NET "TI_1_F(7)" LOC = AB7 | IOSTANDARD = LVTTL;
#NET "TI_1_F(8)" LOC = AF8 | IOSTANDARD = LVTTL;
#NET "TI_1_F(9)" LOC = AD5 | IOSTANDARD = LVTTL;
#
#NET "TI_2_F(0)" LOC = AE8 | IOSTANDARD = LVTTL;
#NET "TI_2_F(1)" LOC = AA10 | IOSTANDARD = LVTTL;
#NET "TI_2_F(2)" LOC = AB5 | IOSTANDARD = LVTTL;
#NET "TI_2_F(3)" LOC = AC5 | IOSTANDARD = LVTTL;
#NET "TI_2_F(4)" LOC = AA8 | IOSTANDARD = LVTTL;
#NET "TI_2_F(5)" LOC = AC9 | IOSTANDARD = LVTTL;
#NET "TI_2_F(6)" LOC = AB6 | IOSTANDARD = LVTTL;
#NET "TI_2_F(7)" LOC = AA6 | IOSTANDARD = LVTTL;
#NET "TI_2_F(8)" LOC = AB9 | IOSTANDARD = LVTTL;
#NET "TI_2_F(9)" LOC = AD8 | IOSTANDARD = LVTTL;
#
#NET "TI_3_F(0)" LOC = AC8 | IOSTANDARD = LVTTL;
#NET "TI_3_F(1)" LOC = AC6 | IOSTANDARD = LVTTL;
#NET "TI_3_F(2)" LOC = AA9 | IOSTANDARD = LVTTL;
#NET "TI_3_F(3)" LOC = W11 | IOSTANDARD = LVTTL;
#NET "TI_3_F(4)" LOC = Y11 | IOSTANDARD = LVTTL;
#NET "TI_3_F(5)" LOC = W12 | IOSTANDARD = LVTTL;
#NET "TI_3_F(6)" LOC = Y12 | IOSTANDARD = LVTTL;
#NET "TI_3_F(7)" LOC = Y13 | IOSTANDARD = LVTTL;
#NET "TI_3_F(8)" LOC = W13 | IOSTANDARD = LVTTL;
#NET "TI_3_F(9)" LOC = AD6 | IOSTANDARD = LVTTL;
#
#NET "BLK(0)" LOC = L21 | IOSTANDARD = LVTTL;
#NET "BLK(1)" LOC = W22 | IOSTANDARD = LVTTL;
#NET "BLK(2)" LOC = AD23 | IOSTANDARD = LVTTL;

## X7

#NET "TI4F(0)" LOC = AE16 | IOSTANDARD = LVTTL;
#NET "TI4F(1)" LOC = AE17 | IOSTANDARD = LVTTL;
#NET "TI4F(2)" LOC = AE18 | IOSTANDARD = LVTTL;
#NET "TI4F(3)" LOC = AD10 | IOSTANDARD = LVTTL;
#NET "TI4F(4)" LOC = AC11 | IOSTANDARD = LVTTL;
#NET "TI4F(5)" LOC = AB11 | IOSTANDARD = LVTTL;
#NET "TI4F(6)" LOC = AA15 | IOSTANDARD = LVTTL;
#NET "TI4F(7)" LOC = AE20 | IOSTANDARD = LVTTL;
#NET "TI4F(8)" LOC = AD17 | IOSTANDARD = LVTTL;
#NET "TI4F(9)" LOC = AF17 | IOSTANDARD = LVTTL;
#
#NET "TI5F(0)" LOC = AC17 | IOSTANDARD = LVTTL;
#NET "TI5F(1)" LOC = AA12 | IOSTANDARD = LVTTL;
#NET "TI5F(2)" LOC = AB17 | IOSTANDARD = LVTTL;
#NET "TI5F(3)" LOC = AE12 | IOSTANDARD = LVTTL;
#NET "TI5F(4)" LOC = W16 | IOSTANDARD = LVTTL;
#NET "TI5F(5)" LOC = AC13 | IOSTANDARD = LVTTL;
#NET "TI5F(6)" LOC = W15 | IOSTANDARD = LVTTL;
#NET "TI5F(7)" LOC = W14 | IOSTANDARD = LVTTL;
#NET "TI5F(8)" LOC = AB16 | IOSTANDARD = LVTTL;
#NET "TI5F(9)" LOC = AB18 | IOSTANDARD = LVTTL;
#
#NET "TI6F(0)" LOC = AA14 | IOSTANDARD = LVTTL;
#NET "TI6F(1)" LOC = Y14 | IOSTANDARD = LVTTL;
#NET "TI6F(2)" LOC = AF20 | IOSTANDARD = LVTTL;
#NET "TI6F(3)" LOC = AF15 | IOSTANDARD = LVTTL;
#NET "TI6F(4)" LOC = AE15 | IOSTANDARD = LVTTL;
#NET "TI6F(5)" LOC = AE19 | IOSTANDARD = LVTTL;
#NET "TI6F(6)" LOC = AF16 | IOSTANDARD = LVTTL;
#NET "TI6F(7)" LOC = AA13 | IOSTANDARD = LVTTL;
#NET "TI6F(8)" LOC = AC18 | IOSTANDARD = LVTTL;
#NET "TI6F(9)" LOC = AF19 | IOSTANDARD = LVTTL;
#
#NET "BLK(3)" LOC = P25 | IOSTANDARD = LVTTL;
#NET "BLK(4)" LOC = U20 | IOSTANDARD = LVTTL;
#NET "BLK(5)" LOC = W23 | IOSTANDARD = LVTTL;

## X8 & X9
#NET "FUF_1(0)" LOC = G16 | IOSTANDARD = LVTTL;
#NET "FUF_1(1)" LOC = H16 | IOSTANDARD = LVTTL;
#NET "FUF_1(2)" LOC = F18 | IOSTANDARD = LVTTL;
#NET "FUF_1(3)" LOC = F13 | IOSTANDARD = LVTTL;
#NET "FUF_1(4)" LOC = G13 | IOSTANDARD = LVTTL;
#NET "FUF_1(5)" LOC = F11 | IOSTANDARD = LVTTL;
#NET "FUF_1(6)" LOC = R26 | IOSTANDARD = LVTTL;
#NET "FUF_1(7)" LOC = G11 | IOSTANDARD = LVTTL;
#NET "FUF_1(8)" LOC = P22 | IOSTANDARD = LVTTL;
#NET "FUF_1(9)" LOC = W3 | IOSTANDARD = LVTTL;
#NET "FUF_1(10)" LOC = F8 | IOSTANDARD = LVTTL;
#NET "FUF_1(11)" LOC = N26 | IOSTANDARD = LVTTL;
#NET "FUF_1(12)" LOC = T21 | IOSTANDARD = LVTTL;
#NET "FUF_1(13)" LOC = R21 | IOSTANDARD = LVTTL;
#NET "FUF_1(14)" LOC = N23 | IOSTANDARD = LVTTL;
#NET "FUF_1(15)" LOC = AA23 | IOSTANDARD = LVTTL;
#NET "FUF_1(16)" LOC = M19 | IOSTANDARD = LVTTL;
#NET "FUF_1(17)" LOC = L19 | IOSTANDARD = LVTTL;
#NET "FUF_1(18)" LOC = AF22 | IOSTANDARD = LVTTL;
#NET "FUF_1(19)" LOC = AA18 | IOSTANDARD = LVTTL;
#NET "FUF_1(20)" LOC = R24 | IOSTANDARD = LVTTL;
#NET "FUF_1(21)" LOC = AC22 | IOSTANDARD = LVTTL;
#NET "FUF_1(22)" LOC = P24 | IOSTANDARD = LVTTL;
#NET "FUF_1(23)" LOC = N20 | IOSTANDARD = LVTTL;
#NET "FUF_1(24)" LOC = L20 | IOSTANDARD = LVTTL;
#NET "FUF_1(25)" LOC = K20 | IOSTANDARD = LVTTL;
#NET "FUF_1(26)" LOC = J20 | IOSTANDARD = LVTTL;
#NET "FUF_1(27)" LOC = G14 | IOSTANDARD = LVTTL;
#NET "FUF_1(28)" LOC = H14 | IOSTANDARD = LVTTL;
#NET "FUF_1(29)" LOC = M22 | IOSTANDARD = LVTTL;
#NET "FUF_1(30)" LOC = U24 | IOSTANDARD = LVTTL;
#NET "FUF_1(31)" LOC = M26 | IOSTANDARD = LVTTL;
#
#NET "CONTRF_1(0)" LOC = R22 | IOSTANDARD = LVTTL;
#NET "CONTRF_1(1)" LOC = AB22 | IOSTANDARD = LVTTL;
#NET "CONTRF_1(2)" LOC = M20 | IOSTANDARD = LVTTL;
#NET "CONTRF_1(3)" LOC = G18 | IOSTANDARD = LVTTL;
#
#NET "ADR_1(0)" LOC = M21 | IOSTANDARD = LVTTL;
#NET "ADR_1(1)" LOC = L22 | IOSTANDARD = LVTTL;
#NET "ADR_1(2)" LOC = N21 | IOSTANDARD = LVTTL;
#NET "ADR_1(3)" LOC = R20 | IOSTANDARD = LVTTL;

## X10 & X11

#NET "FUF_2(0)" LOC = V23 | IOSTANDARD = LVTTL;
#NET "FUF_2(1)" LOC = W24 | IOSTANDARD = LVTTL;
#NET "FUF_2(2)" LOC = V24 | IOSTANDARD = LVTTL;
#NET "FUF_2(3)" LOC = V22 | IOSTANDARD = LVTTL;
#NET "FUF_2(4)" LOC = U22 | IOSTANDARD = LVTTL;
#NET "FUF_2(5)" LOC = D6 | IOSTANDARD = LVTTL;
#NET "FUF_2(6)" LOC = E6 | IOSTANDARD = LVTTL;
#NET "FUF_2(7)" LOC = W4 | IOSTANDARD = LVTTL;
#NET "FUF_2(8)" LOC = U2 | IOSTANDARD = LVTTL;
#NET "FUF_2(9)" LOC = F10 | IOSTANDARD = LVTTL;
#NET "FUF_2(10)" LOC = U1 | IOSTANDARD = LVTTL;
#NET "FUF_2(11)" LOC = E10 | IOSTANDARD = LVTTL;
#NET "FUF_2(12)" LOC = T2 | IOSTANDARD = LVTTL;
#NET "FUF_2(13)" LOC = T1 | IOSTANDARD = LVTTL;
#NET "FUF_2(14)" LOC = R1 | IOSTANDARD = LVTTL;
#NET "FUF_2(15)" LOC = R2 | IOSTANDARD = LVTTL;
#NET "FUF_2(16)" LOC = Y22 | IOSTANDARD = LVTTL;
#NET "FUF_2(17)" LOC = AB21 | IOSTANDARD = LVTTL;
#NET "FUF_2(18)" LOC = V21 | IOSTANDARD = LVTTL;
#NET "FUF_2(19)" LOC = U23 | IOSTANDARD = LVTTL;
#NET "FUF_2(20)" LOC = AB23 | IOSTANDARD = LVTTL;
#NET "FUF_2(21)" LOC = T23 | IOSTANDARD = LVTTL;
#NET "FUF_2(22)" LOC = AB20 | IOSTANDARD = LVTTL;
#NET "FUF_2(23)" LOC = AF21 | IOSTANDARD = LVTTL;
#NET "FUF_2(24)" LOC = AE22 | IOSTANDARD = LVTTL;
#NET "FUF_2(25)" LOC = N19 | IOSTANDARD = LVTTL;
#NET "FUF_2(26)" LOC = AA20 | IOSTANDARD = LVTTL;
#NET "FUF_2(27)" LOC = Y20 | IOSTANDARD = LVTTL;
#NET "FUF_2(28)" LOC = Y21 | IOSTANDARD = LVTTL;
#NET "FUF_2(29)" LOC = W20 | IOSTANDARD = LVTTL;
#NET "FUF_2(30)" LOC = V20 | IOSTANDARD = LVTTL;
#NET "FUF_2(31)" LOC = T20 | IOSTANDARD = LVTTL;
#
#NET "CONTRF_2(0)" LOC = G8 | IOSTANDARD = LVTTL;
#NET "CONTRF_2(1)" LOC = P23 | IOSTANDARD = LVTTL;
#NET "CONTRF_2(2)" LOC = Y23 | IOSTANDARD = LVTTL;
#NET "CONTRF_2(3)" LOC = R25 | IOSTANDARD = LVTTL;
#
#NET "ADR_2(0)" LOC = U21 | IOSTANDARD = LVTTL;
#NET "ADR_2(1)" LOC = T22 | IOSTANDARD = LVTTL;
#NET "ADR_2(2)" LOC = N22 | IOSTANDARD = LVTTL;
#NET "ADR_2(3)" LOC = P26 | IOSTANDARD = LVTTL;

## PMC

#NET "pmc_rx1" LOC = "A13";
#NET "pmc_tx1" LOC = "C4";
#NET "pmc_rx2" LOC = "B4";
#NET "pmc_tx2" LOC = "A4";
#NET "pmc_rx3" LOC = "B3";
#NET "pmc_tx3" LOC = "A3";
#NET "pmc_rx4" LOC = "E4";
#NET "pmc_tx4" LOC = "F5";
#
#NET "pmc_rx1" IOSTANDARD = LVTTL;
#NET "pmc_tx1" IOSTANDARD = LVTTL;
#NET "pmc_rx2" IOSTANDARD = LVTTL;
#NET "pmc_tx2" IOSTANDARD = LVTTL;
#NET "pmc_rx3" IOSTANDARD = LVTTL;
#NET "pmc_tx3" IOSTANDARD = LVTTL;
#NET "pmc_rx4" IOSTANDARD = LVTTL;
#NET "pmc_tx4" IOSTANDARD = LVTTL;

NET "pmc_tc"  LOC = "H26"; ##XS3.41
NET "pmc_tc" IOSTANDARD = LVTTL;

NET "pmc_fu1_01" Loc	= "A13";	##XS3.9
NET "pmc_fu1_02" LOC = "C4";	##XS3.11
NET "pmc_fu1_03" LOC = "B4";	##XS3.13
NET "pmc_fu1_04" LOC = "A4";	##XS3.15
NET "pmc_fu1_05" LOC = "C5";	##XS3.17
NET "pmc_fu1_06" LOC = "C6";	##XS3.19
NET "pmc_fu1_07" LOC = "D7";	##XS3.21
NET "pmc_fu1_08" LOC = "C8";	##XS3.23
NET "pmc_fu1_09" LOC = "D9";	##XS3.25
NET "pmc_fu1_10" LOC = "C10";	##XS3.27
NET "pmc_fu1_11" LOC = "D10";	##XS3.29
NET "pmc_fu1_12" LOC = "C12";	##XS3.31
NET "pmc_fu1_13" LOC = "D13";	##XS3.33
NET "pmc_fu1_14" LOC = "F15";	##XS3.35
NET "pmc_fu1_15" LOC = "D14";	##XS3.37
NET "pmc_fu1_16" LOC = "C15";	##XS3.39

NET "pmc_fu2_01" LOC = "D16";	##XS3.10
NET "pmc_fu2_02" LOC = "C17";	##XS3.12
NET "pmc_fu2_03" LOC = "D19";	##XS3.14
NET "pmc_fu2_04" LOC = "C19";	##XS3.16
NET "pmc_fu2_05" LOC = "D21";	##XS3.18
NET "pmc_fu2_06" LOC = "C21";	##XS3.20
NET "pmc_fu2_07" LOC = "D22";	##XS3.22
NET "pmc_fu2_08" LOC = "C23";	##XS3.24
NET "pmc_fu2_09" LOC = "C22";	##XS3.26
NET "pmc_fu2_10" LOC = "E24";	##XS3.28
NET "pmc_fu2_11" LOC = "E25";	##XS3.30
NET "pmc_fu2_12" LOC = "E26";	##XS3.32
NET "pmc_fu2_13" LOC = "F24";	##XS3.34
NET "pmc_fu2_14" LOC = "F23";	##XS3.36
NET "pmc_fu2_15" LOC = "H24";	##XS3.38
NET "pmc_fu2_16" LOC = "H23";	##XS3.40

NET "pmc_fu1_01" IOSTANDARD = LVTTL;
NET "pmc_fu1_02" IOSTANDARD = LVTTL;
NET "pmc_fu1_03" IOSTANDARD = LVTTL;
NET "pmc_fu1_04" IOSTANDARD = LVTTL;
NET "pmc_fu1_05" IOSTANDARD = LVTTL;
NET "pmc_fu1_06" IOSTANDARD = LVTTL;
NET "pmc_fu1_07" IOSTANDARD = LVTTL;
NET "pmc_fu1_08" IOSTANDARD = LVTTL;
NET "pmc_fu1_09" IOSTANDARD = LVTTL;
NET "pmc_fu1_10" IOSTANDARD = LVTTL;
NET "pmc_fu1_11" IOSTANDARD = LVTTL;
NET "pmc_fu1_12" IOSTANDARD = LVTTL;
NET "pmc_fu1_13" IOSTANDARD = LVTTL;
NET "pmc_fu1_14" IOSTANDARD = LVTTL;
NET "pmc_fu1_15" IOSTANDARD = LVTTL;
NET "pmc_fu1_16" IOSTANDARD = LVTTL;

NET "pmc_fu2_01" IOSTANDARD = LVTTL;
NET "pmc_fu2_02" IOSTANDARD = LVTTL;
NET "pmc_fu2_03" IOSTANDARD = LVTTL;
NET "pmc_fu2_04" IOSTANDARD = LVTTL;
NET "pmc_fu2_05" IOSTANDARD = LVTTL;
NET "pmc_fu2_06" IOSTANDARD = LVTTL;
NET "pmc_fu2_07" IOSTANDARD = LVTTL;
NET "pmc_fu2_08" IOSTANDARD = LVTTL;
NET "pmc_fu2_09" IOSTANDARD = LVTTL;
NET "pmc_fu2_10" IOSTANDARD = LVTTL;
NET "pmc_fu2_11" IOSTANDARD = LVTTL;
NET "pmc_fu2_12" IOSTANDARD = LVTTL;
NET "pmc_fu2_13" IOSTANDARD = LVTTL;
NET "pmc_fu2_14" IOSTANDARD = LVTTL;
NET "pmc_fu2_15" IOSTANDARD = LVTTL;
NET "pmc_fu2_16" IOSTANDARD = LVTTL;

## ”œ–1 X8
NET "fu1_01" LOC = "G16";
NET "fu1_02" LOC = "H16";
NET "fu1_03" LOC = "F18";
NET "fu1_04" LOC = "F13";
NET "fu1_05" LOC = "G13";
NET "fu1_06" LOC = "F11";
NET "fu1_07" LOC = "R26";
NET "fu1_08" LOC = "G11";

NET "fu1_01" IOSTANDARD = LVTTL;
NET "fu1_02" IOSTANDARD = LVTTL;
NET "fu1_03" IOSTANDARD = LVTTL;
NET "fu1_04" IOSTANDARD = LVTTL;
NET "fu1_05" IOSTANDARD = LVTTL;
NET "fu1_06" IOSTANDARD = LVTTL;
NET "fu1_07" IOSTANDARD = LVTTL;
NET "fu1_08" IOSTANDARD = LVTTL;
			
## ”œ–2 X8
NET "fu1_09" LOC = "P22";
NET "fu1_10" LOC = "W3";
NET "fu1_11" LOC = "F8";
NET "fu1_12" LOC = "N26";
NET "fu1_13" LOC = "T21";
NET "fu1_14" LOC = "R21";
NET "fu1_15" LOC = "N23";
NET "fu1_16" LOC = "AA23";

NET "fu1_09" IOSTANDARD = LVTTL;
NET "fu1_10" IOSTANDARD = LVTTL;
NET "fu1_11" IOSTANDARD = LVTTL;
NET "fu1_12" IOSTANDARD = LVTTL;
NET "fu1_13" IOSTANDARD = LVTTL;
NET "fu1_14" IOSTANDARD = LVTTL;
NET "fu1_15" IOSTANDARD = LVTTL;
NET "fu1_16" IOSTANDARD = LVTTL;

## ”œ–3 X10
NET "fu2_01" LOC = "V23";
NET "fu2_02" LOC = "W24";
NET "fu2_03" LOC = "V24";
NET "fu2_04" LOC = "V22";
NET "fu2_05" LOC = "U22";
NET "fu2_06" LOC = "D6";
NET "fu2_07" LOC = "E6";
NET "fu2_08" LOC = "W4";

NET "fu2_01" IOSTANDARD = LVTTL;
NET "fu2_02" IOSTANDARD = LVTTL;
NET "fu2_03" IOSTANDARD = LVTTL;
NET "fu2_04" IOSTANDARD = LVTTL;
NET "fu2_05" IOSTANDARD = LVTTL;
NET "fu2_06" IOSTANDARD = LVTTL;
NET "fu2_07" IOSTANDARD = LVTTL;
NET "fu2_08" IOSTANDARD = LVTTL;

## ”œ–4 X10
NET "fu2_09" LOC = "U2";
NET "fu2_10" LOC = "F10";
NET "fu2_11" LOC = "U1";
NET "fu2_12" LOC = "E10";
NET "fu2_13" LOC = "T2";
NET "fu2_14" LOC = "T1";
NET "fu2_15" LOC = "R1";
NET "fu2_16" LOC = "R2";

NET "fu2_09" IOSTANDARD = LVTTL;
NET "fu2_10" IOSTANDARD = LVTTL;
NET "fu2_11" IOSTANDARD = LVTTL;
NET "fu2_12" IOSTANDARD = LVTTL;
NET "fu2_13" IOSTANDARD = LVTTL;
NET "fu2_14" IOSTANDARD = LVTTL;
NET "fu2_15" IOSTANDARD = LVTTL;
NET "fu2_16" IOSTANDARD = LVTTL;

#NET "pmc_clk40" LOC = "A21";
#NET "pmc_clk40" IOSTANDARD = LVTTL;


